body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #8d8d8d;
  background: #F4F4F4;
}

button {
  display: block;
  border: none;
  background: transparent;
}

.vh-dependent {
  height: 40vh;
  display: flex;
  align-items: center;
}

.be-static {
  position: static;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: 700;
  color: #151515;
  margin: 0;
  padding: 0;
}

/*===HEADER=======================*/
.btn {
  background: #3726F2;
  color: #fff;
  padding: 15px 35px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.28em;
  display: inline;
  border-radius: 0;
  text-align: center;
  transition: all 0.5s ease;
}
.btn:hover {
  background: #2b1eba;
  color: #fff;
}

.header {
  height: 95vh;
}

.nav {
  padding-top: 59px;
  margin-bottom: 127px;
}

.offer-cont__title {
  min-width: 474px;
  font-size: 60px;
  line-height: 116%;
  letter-spacing: -0.01em;
}

.offer-cont__text {
  line-height: 155%;
  margin: 30px 0px 56px 0px;
}

.hero {
  background: url("../img/img_1.jpg") no-repeat right top;
  background-size: 80% 100%;
  width: 55%;
  height: 80vh;
  position: absolute;
  right: 0;
  top: 142px;
}

.video {
  position: absolute;
  left: 0;
  bottom: 15%;
  width: 40%;
  height: 33%;
  display: block;
  background: url("../img/video.jpg") no-repeat center center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video:after {
  content: "";
  display: block;
  background: url("../img/play.svg");
  width: 65px;
  height: 65px;
}

/*===PROMLEMS=======================*/
.problems {
  padding-top: 137px;
}

.about__title {
  font-size: 38px;
  line-height: 125%;
  letter-spacing: -0.01em;
  margin-bottom: 30px;
}

.about__text {
  line-height: 155%;
}
.about__text:not(:last-child) {
  margin-bottom: 20px;
}

.about__author {
  background: url("../img/author.jpg") no-repeat left center;
  padding: 7px 0px 7px 96px;
  margin-top: 60px;
}

.about__name {
  font-size: 22px;
  font-weight: 500;
  line-height: 145%;
}

.about__post {
  margin-bottom: 0;
}