body {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #8d8d8d;
	background: #F4F4F4;
	overflow-x: hidden;
}

button {
	display: block;
	border: none;
	background: transparent;
}

ul, li {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

.vh-dependent {
	height: 40vh;
	display: flex;
	align-items: center;
	@media screen and (max-width: 992px) {
		display: block;
	}
	@media screen and (max-width: 767.98px) {
		height: auto;
		display: flex;
		align-items: center;
	}
}

.be-static {
	position: static;
}

h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: 700;
	color: #151515;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 38px;
	@media screen and (max-width: 768px) {
		font-size: 28px;
	}
}

h3 {
	font-size: 22px;
}

/*===HEADER=======================*/

.btn {
	background: #3726F2;
	color: #fff;
	padding: 15px 35px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.28em;
	display: inline;
	border: 0;
	border-radius: 0;
	text-align: center;
	transition: all 0.5s ease;
	&:hover  {
		background: #2b1eba;
		color: #fff;
	}
}

.header {
	height: 95vh;
	@media screen and (max-width: 768px) {
		height: auto;
	}
}

.nav {
	padding-top: 59px;
	margin-bottom: 127px;
}

.offer-cont__title {
	min-width: 474px;
	font-size: 60px;
	line-height: 116%;
	letter-spacing: -0.01em;
	@media screen and (max-width: 992px) {
		font-size: 50px;
	}
	@media screen and (max-width: 375px) {
		min-width: 0;
	}
}

.offer-cont__text {
	line-height: 155%;
	margin: 30px 0px 56px 0px;
}

.hero {
	background: url('../img/img_1.jpg') no-repeat right top;
	background-size: 80% 100%;
	width: 55%;
	height: 80vh;
	position: absolute;
   right: 0;
   top: 142px;
	@media screen and (max-width: 768px) {
		position: relative;
		width: 100%;
		height: 300px;
		top: 0;
		margin-top: 50px;
	}
}

.video {
	 position: absolute;
	 left: 0;
	 bottom: 15%;
	 width: 40%;
	 height: 33%;
	 display: block;
	 background: url('../img/video.jpg') no-repeat center center;
	 display: flex;
	 align-items: center;
	 justify-content: center;

	 &:after {
		content: '';
		display: block;
		background: url('../img/play.svg');
		width: 65px;
		height: 65px;
	 }

	 @media screen and (max-width: 768px) {
		bottom: 15%;
		width: 50%;
		height: 60%;
}
}

/*===PROMLEMS=======================*/

.problems {
	padding-top: 137px;
	@media screen and (max-width: 375px) {
		padding-top: 100px;
	}
}

.about {
	@media screen and (max-width: 768px) {
		margin-top: 40px;
}
}

.about__title {
	line-height: 125%;
	letter-spacing: -0.01em;
	margin-bottom: 30px;
}

.about__text {
	line-height: 155%;
	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

.about__author {
	background: url('../img/author.png') no-repeat left center;
	padding: 7px 0px 7px 96px;
	margin-top: 60px;
	@media screen and (max-width: 768px) {
		margin-top: 30px;
	}
}

.about__name {
	font-size: 22px;
	font-weight: 500;
	line-height: 145%;
}

.about__post {
	margin-bottom: 0;
}

/*===SERVICES=======================*/

.services {
	 padding-top: 142px;
	 overflow-x: hidden;
	 @media screen and (max-width: 576px) {
		padding-top: 100px;
	}	
}

.section-title__label {
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.28em;
	text-transform: uppercase;
	color: #8F8F8F;
	margin-bottom: 40px;
}

.section-title__heading {
	line-height: 125%;
	letter-spacing: -0.01em;
}

.services-list {
	margin-top: 70px;
	@media screen and (max-width: 576px) {
		margin-top: 20px;
	}
}

.services-list__item {
	line-height: 155%;
	margin-bottom: 20px;
}

.services-list_left {
	margin-left: 37px;
	@media screen and (max-width: 768px) {
		margin-left: 0;
	}
}

.services-list_right {
	@media screen and (max-width: 768px) {
		margin-right: 20px;
	}
}

/*====CAROUSEL======================*/

.works-carousel .item, .owl-item {
	position: relative;
}

.works-carousel {
	margin-top: 99px;
	@media screen and (max-width: 768px) {
		margin-top: 50px;
	}
}

.owl-carousel .owl-dots, .owl-theme .owl-nav {
	text-align: left;
}

.owl-theme .owl-nav [class*=owl-] {
	margin: 0;
}

.works-carousel .owl-nav {
	margin-top: 50px;
}

.works-carousel .owl-prev {
	margin-right: 25px !important;
}

.owl-carousel__play {
	display: block;
	background: url('../img/play.svg');
	width: 65px;
	height: 65px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -32px;
	margin-left: -32px;
	cursor: pointer;
}

/*====RESULT======================*/

.result {
	padding-top: 181px;
	@media screen and (max-width: 768px) {
		padding-top: 140px;
	}
	@media screen and (max-width: 576px) {
		padding-top: 100px;
	}
}

.collage {
	position: absolute;
	width: 50%;
	height: 540px;
	background: url('../img/img_6.jpg') no-repeat left top / 80% 70%;
	left: 0;
	@media screen and (max-width: 768px) {
		position: relative;
		width: 100%;
	}
}

.collage img {
	display: block;
	width: 350px;
	height: 453px;
	position: absolute;
	right: 0;
	bottom: 0;
	box-shadow: 30px 80px 130px rgb(0,0,0,0.25);
	@media screen and (max-width: 375px) {
		right: -90px;
	}
}

.easy {
	padding-left: 65px;
	margin-top: 30px;
	@media screen and (max-width: 768px) {
		margin-top: 50px;
		padding-left: 0;
	}
}

.easy__title {
	line-height: 125%;
	letter-spacing: -0.01em;
	margin-bottom: 30px;
}

.easy__text {
	margin-bottom: 52px;
	@media screen and (max-width: 576px) {
		margin-bottom: 32px;
	}
}

.easy__point {
	padding: 20px 0px 20px 83px;
	text-transform: uppercase;
	color: #000;
	font-weight: 500;
	line-height: 171%;
	letter-spacing: 0.28em;
	font-size: 14px;
	margin-bottom: 25px;
	@media screen and (max-width: 992px) {
		margin-bottom: 15px;
	}
}

.easy__point_ultimate {
	background: url('../img/100-icon.svg') no-repeat left center;
}

.easy__point_minimal {
	background: url('../img/bag .svg') no-repeat left center;
}

/*====WORKS======================*/

.works {
	padding-top: 283px;
	@media screen and (max-width: 992px) {
		padding-top: 140px;
	}
	@media screen and (max-width: 576px) {
		padding-top: 100px;
	}
}

.works-tabs {
	margin-top: 80px;
	margin-left: 60px;
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.28em;
	text-transform: uppercase;
	@media screen and (max-width: 1200px) {
		margin-left: 0;
	}
	@media screen and (max-width: 992px) {
		margin-top: 50px;
	}
	@media screen and (max-width: 576px) {
		margin-top: 30px;
		flex-direction: column;
	}
}

.works-tabs__item {
	a {
		text-decoration: none;
		color: #8d8d8d;
	}
	@media screen and (max-width: 576px) {
		margin-bottom: 25px;
	}
}

.works-tabs__item.active a {
	color: #1434E1;
}

.works-wrap {
	flex-wrap: wrap;
	margin-top: 108px;
	margin-bottom: 52px;
	@media screen and (max-width: 992px) {
		margin-top: 70px;
	}
	@media screen and (max-width: 768px) {
		margin-bottom: 20px;
	}
}

.works-wrap__item {
	margin-bottom: 30px;
	display: block;
	position: relative;
	@media screen and (max-width: 1200px) {
		width: 30%;
	}
	@media screen and (max-width: 576px) {
		width: 100%;
	}
}

.works-wrap__item img {
	transition: all 0.5s ease;
	display: block;
	&:hover {
		box-shadow: -30px 80px 200px rgb(0,0,0,0.25);
		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);	
	}
	@media screen and (max-width: 1200px) {
		display: block;
		width: 100%;
	}
}

.works-wrap__item {
	&:hover {
		&:after {
			content: '';
			display: block;
			position: absolute;
			background: url('../img/play.svg');
			width: 65px;
			height: 65px;
			left: 50%;
			top: 50%;
			margin-left: -32px;
			margin-top: -32px;
		}
	}
}

.tabs__content {
	display: none !important; /* по умолчанию прячем все блоки */
 }
 .tabs__content.active {
	display: flex !important; /* по умолчанию показываем нужный блок */
 }

 .works__text {
	@media screen and (max-width: 768px) {
		margin-bottom: 30px;
	}
 }

/*====TESTIMONIALS======================*/

.testimonials {
	padding-top: 248px;
	overflow-x: hidden;
	@media screen and (max-width: 992px) {
		padding-top: 180px;
	}
	@media screen and (max-width: 768px) {
		padding-top: 140px;
	}
	@media screen and (max-width: 576px) {
		padding-top: 100px;
	}
}

.section-title {
	@media screen and (max-width: 768px) {
		margin-bottom: 30px;
	}
}

.section-title__heading_review {
	@media screen and (max-width: 992px) {
		font-size: 22px;
	}
}

.contributor {
	margin-top: 121px;
	@media screen and (max-width: 1200px) {
		margin-top: 50px;
	}
	@media screen and (max-width: 576px) {
		margin-top: 35px;
	}
}

.contributor__title {
	margin-bottom: 13px;
	line-height: 145%;
	font-weight: 500;
}

.cont__photo {
	display: block;
}

.contributor-carousel .owl-nav {
	display: flex;
	margin-top: -50px;
	position: relative;
	@media screen and (max-width: 768px) {
		margin-top: 50px;
	}
}

.contributor-carousel  .owl-prev {
	margin-right: 25px;
}

/*====CLIENTS======================*/

.clients {
	padding-top: 278px;
	@media screen and (max-width: 992px) {
		padding-top: 200px;
	}
	@media screen and (max-width: 768px) {
		padding-top: 140px;
	}
	@media screen and (max-width: 576px) {
		padding-top: 100px;
	}
}

.section-title__label_black {
	color: black;
	margin-bottom: 17px;
}

.clients__row {
	margin-top: 82px;
	@media screen and (max-width: 768px) {
		margin-top: 60px;
	}
}

.clients__worked {
	@media screen and (max-width: 768px) {
		margin-top: 40px;
	}
	@media screen and (max-width: 576px) {
		margin-top: 20px;	
	}	
}

.clients__row {
	@media screen and (max-width: 576px) {
		flex-direction: column;
	}
}

.clients__item {
	@media screen and (max-width: 576px) {
		margin-bottom: 50px;
	}
}

/*====FOOTER======================*/

.footer {
	margin-top: 136px;
	height: 240px;
	background: #515151;
	@media screen and (max-width: 768px) {
		margin-top: 100px;
	}
	@media screen and (max-width: 576px) {
		margin-top: 50px;
	}
}

.footer__logo {
	margin: 109px 0px 109px 0px;
}
